:root {
  --text-color: #454545;
  --accent-color: #454545;
  --border-color: #e0e0e0;
  --star-color: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.tag {
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #224f34;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.tag.active {
  color: #224f34;
}

.tag.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #224f34;
  border-radius: 2px;
}

.tag:hover:not(.active) {
  color: #224f34;
}

.divider {
  height: 1px;
  background-color: var(--border-color);
  margin: 2rem 0;
}

.products-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(318px, 1fr)); */
  /* gap: 2rem; */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 16px;
}

.product-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
  height: 378px;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  position: relative;
}


.product-info {
  font-family: 'Inter', sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem .7rem;
}

.product-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.product-meta {
  display: flex;
  align-items: center;
 max-height: 22px;
  gap: 0.75rem;
  font-size: 0.95rem;
}

.product-price {
  font-weight: 500;
}

.divider {
  height: 16px;
  width: 1px;
  background-color: #ccc;
  display: inline-block;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
}

.rating-value {
  color: #333;
}

.star {
  color: #fbc02d;
  font-size: 1rem;
  line-height: 1;
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
  }

  .product-image {
    height: 250px;
  }
}

@media (max-width: 480px) {


  .products-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .product-image {
    height: 300px;
  }
}
