header {
  margin: 50px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #c2efd4;
  align-items: center;
}
.logo {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
  color: #224f34;
}
.s {
  display: flex;
  justify-content: space-between;
  width: 396px;
  gap: 69px;
}
.nav-list {
  list-style: none;
}

.nav-list .list-text {
  text-decoration: none;
  display: inline;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  gap: 69px;
  color: #224f34;
  cursor: pointer;
  transition: 0.4s ease;
}
.nav-list .list-text:hover {
  margin-top: 15px;
  border: none;
  color: #224f34;
  text-align: center;
  text-decoration: underline;
  font-size: 23px;
  cursor: pointer;
  transition: 0.4s ease;
}
.nav-buttons {
  width: 250px;
  height: 41.12px;
  gap: 30px;
  display: flex;
  margin-right: 25px;
}

.login {
  width: 114.42px;
  height: 35.12px;
  background-color: transparent;
  border: 1px solid #183d27;
  color: #224f34;
  transition: 0.4s ease;
}
.login:hover {
  width: 140px;
  height: 38px;
  font-size: 20px;
  transition: 0.4s ease;
}

.icon {
  margin-left: 14rem;
  font-size: 20px;
}

.fa-shopping-cart {
  color: #224f34;
}
